# Created by .ignore support plugin (hsz.mobi)

/.idea/*
.idea/workspace.xml
common-bean/src/main/resources/
common-bean/target/
consumer/src/main/resources/config/beta/
consumer/src/main/resources/config/online/
consumer/target/
producer/src/main/java/com/solace/controller/
producer/src/main/resources/config/beta/
producer/src/main/resources/config/online/
producer/target/
src
task/target/

